
<ion-content padding fullscreen class="background">

	<h3>Menú Principal</h3>

	<ion-grid class="ion-padding-top">
		<ion-row>
			<ion-col class="ion-text-center"> 
				<ion-button fill="clear">
					<ion-icon name="construct" color="dark"></ion-icon>
				</ion-button>
				<p>Mantención de Datos</p>
			</ion-col>	
			<ion-col class="ion-text-center">
				<ion-button fill="clear">
					<ion-icon name="mail" color="dark"></ion-icon>
				</ion-button>
				<p>Envio de Correos</p>
			</ion-col>
		</ion-row>
		<ion-row >
			<ion-col class="ion-text-center">
				<ion-button fill="clear">
					<ion-icon name="bookmarks" color="dark"></ion-icon>
				</ion-button>
				<p>Alojamiento de Actividades</p>
			</ion-col>	
			<ion-col class="ion-text-center">
				<ion-button fill="clear">
					<ion-icon name="thumbs-up" color="dark"></ion-icon>
				</ion-button>
				<p>Programas de Perfeccionamiento</p>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-footer>
			<ion-toolbar>
				<ion-title class="ion-text-center">Powered by&nbsp;&nbsp;
					<img src="../../assets/media/LogoNegros.png">
				</ion-title>
			</ion-toolbar>
		</ion-footer>
</ion-content>


