<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button default-href="/logged/admin"></ion-back-button>
        </ion-buttons>
    <ion-title>Programas Otoño 2019</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>

    <ion-card>
      <ion-card-header>
        <img src="https://picsum.photos/200/100/?world" alt="">
        <ion-card-subtitle>Perfeccionamiento para Titulados</ion-card-subtitle>
        <ion-card-title>Conecatando al Mundo Laboral</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Acompañar y capacitar a los alumnos próximos a titularse, con el fin de fortalecer sus 
          habilidades en cuanto a apresto laboral, para promover el éxito en la búsqueda de empleo.
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <img src="https://picsum.photos/200/100/?job" alt="">
          <ion-card-subtitle>Perfeccionamiento para Titulados</ion-card-subtitle>
          <ion-card-title>Coaching para la Búsqueda de Empleo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Comprender el mercado laboral de su carrera y los procesos de selección que las organizaciones
             realizan en la incorporación de trabajadores.
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
              <img src="https://picsum.photos/200/100/?english" alt="">
            <ion-card-subtitle>Perfeccionamiento para Titulados</ion-card-subtitle>
            <ion-card-title>Inglés Pre intermedio – Inglés Intermedio – Inglés Avanzado </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Entregar competencias comunicativas y con ello interactuar en diversos escenarios. Modalidad On Line.
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <img src="https://picsum.photos/200/100/?hability" alt="">
              <ion-card-subtitle>Perfeccionamiento para Titulados</ion-card-subtitle>
              <ion-card-title>Habilidades Directivas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Entregar dominio en las técnicas de una presentación y saber elaborar un discurso. Modalidad Blended.
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-header>
                  <img src="https://picsum.photos/200/100/?team" alt="">
                <ion-card-subtitle>Perfeccionamiento para Titulados</ion-card-subtitle>
                <ion-card-title>Dirección de Equipos para el Alto Desempeño</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  Entregar herramientas de liderazgo, comunicación y manejo de conflictos para gestionar equipos de alto desempeño. Modalidad Presencial.
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <img src="https://picsum.photos/200/100/?proyect" alt="">
                  <ion-card-subtitle>Perfeccionamiento para Titulados</ion-card-subtitle>
                  <ion-card-title>Formulación y Evaluación de Proyectos</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Entregar conocimientos técnicos y metodológicos para la formulación y evaluación de proyectos. Modalidad Presencial.
                </ion-card-content>
              </ion-card>

              <ion-button expand="full" (click)="register()">Inscríbete en los Programas</ion-button>
    <ion-footer>
      <ion-toolbar>
        <ion-title class="ion-text-center">Powered by&nbsp;&nbsp;
          <img src="../../assets/media/LogoNegros.png">
        </ion-title>
      </ion-toolbar>
    </ion-footer>

</ion-content>
