ion-content{
	h3 {
		text-align: center;
		
	}
	#answ{
		text-align: center;
		font-style: oblique;
	}
	ion-item{
		--highlight-color-valid:#d33939!important;
	}
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #cc0000;
    background: $white-color;
}

ion-button {
	font-weight: 300;
	--background: #cc0000;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}


/*----------------------------------------------------------*/
//  Footer Style

ion-footer {
	margin: 6px 0 7px 0;
	ion-title {
	  --color: #aaaaaa;
	  font-size: .67em;
	}
	.toolbar-title {
	  height: 30px!important;
	}
	img {
	  max-width: 7%;
	  vertical-align: middle;
	}
  }